/* Common Styles Shared */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Banner Styles Shared */

.content {
    display: flex;
    flex-direction: column;
    padding: 150px 120px;
    max-width: 500px;
}

.banner-tittle {
    color: #272727;
    font-size: 50px;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-top: 40px;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 15px 15px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-picture {
    width: 700px;
}

/* Main section styles */
.main {
    max-width: 140px;
    
}

.featured {
    margin: 100px 0px;
}

.section-tittle {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin: 10px;
    padding: 10px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    padding: 10px;
}

.featured-flowers {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 300px;
    bottom: 0px;


}

.flower-1 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 50px 0px;
    padding: 50px;
    width: 310px;
    height: 400px;

}

.flower-2 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 130px 0px;
    padding: 50px;
    width: 300px;
    height: 400px;

}

.flower-3 {
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 130px 0px;
    padding: 50px;
    width: 300px;
    height: 400px;
}

.flower-name {
    display: flex;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    gap: 10px;
    justify-content: space-around;
    padding: 0px;
}

/* hot deal styles */
.text-primary {
    color: #E55473;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
}

.text {
    padding: 230px 0px 350px 420px;
    text-align: center;

}

.picture {
    padding: 100px 430px 100px 200px
}

.hot-deal-flex {
    display: flex;
}

/* instagram styles */
.instagram-picture {
    display: flex;
    gap: 10px;
}

.img-1 {
    padding-left: 240px;
    padding-right: 3px;
}

.img-2 {
    padding-left: 24px;
}

.img-3 {
    padding-left: 24px;
}

.img-4 {
    padding-left: 24px;
    padding-right: 240px;
}

/* Deals styles */
.deals-text {
    background-image: url(../Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: 128px 240px;
    border-radius: 8px;
}



/* footer */
.footer-last-text {
    text-align: center;
}

.footer {
    background-color: #111010;
    width: 1922px;
    height: 449px;
    text-align: center;
    color: azure;
    font-size: 20px;
    font-weight: 800px;
    display: flex;
    flex-direction: column;
}

.text-1 , .text-2 {
    text-align: center;
}

.text-area{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border: none;
}
.text-button{
    display: flex;
    justify-content: space-around;
    -ms-flex-item-align: center;
}