/* Common Styles Shared */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Banner Styles Shared */

.content {
    display: flex;
    flex-direction: column;
    padding: 150px 120px;
    max-width: 500px;
}

.banner-tittle {
    color: #272727;
    font-size: 50px;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-top: 40px;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 15px 15px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-picture {
    width: 700px;
}